.container {
  height: 50px;

  display: flex;
  align-items: center;

  gap: 1rem;

  input {
    flex: 1;
    height: 25px;

    border-radius: 2px;

    background: #1a1a1a;
    color: #fff;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;

    padding: 2px;
  }
}
