.container {
  height: calc(100% - 50px);

  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  padding: 0 44px 10px 0;

  gap: 1rem;

  .message {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: flex-end;

    padding: 10px;
    border-radius: 2px;

    background: #1a1a1a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    gap: 0.5rem;

    strong {
      color: #fcba03;
    }
  }
}
