html {
  background: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
}

input {
  padding: 8px;
  border-radius: 2px;
  color: #1a1a1a;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  filter: brightness(0.9);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 400px;
  background: #1a1a1a;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-content-large {
  max-width: calc(100vw - 15rem);
  height: calc(100vh - 13rem);
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;
}

.react-modal-close:hover {
  filter: brightness(0.8);
}
